APScheduler==3.5.1
atomicwrites==1.1.5
attrs==18.1.0
beautifulsoup4==4.6.0
certifi==2018.4.16
chardet==3.0.4
click==6.7
Flask==1.0.2
future==0.16.0
idna==2.7
itsdangerous==0.24
Jinja2==2.10.1
line-bot-sdk==1.6.0
lxml==4.2.1
MarkupSafe==1.0
more-itertools==4.2.0
pdfminer3k
pluggy==0.6.0
ply==3.11
py==1.5.4
pytest==3.6.2
requests2
selenium
six==1.11.0
tzlocal==1.5.1
urllib3==1.26.5
Werkzeug>=0.15.3
xvfbwrapper==0.2.9
websockets==7.0
