APScheduler==3.5.1
beautifulsoup4==4.6.0
certifi==2018.4.16
chardet==3.0.4
click==6.7
Flask==1.0.2
future==0.16.0
idna==2.7
itsdangerous==0.24
Jinja2==2.10
line-bot-sdk==1.6.0
lxml==4.2.1
MarkupSafe==1.0
pytz==2018.4
requests==2.19.0
selenium==3.12.0
six==1.11.0
tzlocal==1.5.1
urllib3==1.23
Werkzeug==0.14.1
xvfbwrapper==0.2.9
